<div class="grid">
  <div class="col-8 col-offset-2">

    <p-table class="col-12" [value]="(getOne | async) || []">
      <ng-template pTemplate="header">
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event>
          <tr>
              <td>{{ event.id }}</td>
              <td>{{ event.name }}</td>
              {{event | json}}
              <a [href]="event.links[0].linkValue" pButton>Check details</a>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>
